<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="This is my persoanal site.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name=”robots” content="index, follow">
	
	<title>{{ title }}</title>
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
	<link rel="me" href="https://github.com/stardoom4" />
        <link rel="authorization_endpoint" href="https://indieauth.com/auth">
        <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
        <link rel="micropub" href="https://indieweb.org/micropub">
</head>	
<body>
	<header>
		{{ title }}
	</header>
<details>
    <summary>Online Presence</summary>
    <a href="https://garud.netlify.app">Website</a><br>
    <a href="https://github.com/stardoom4">Github</a><br>
    <a href="https://letterboxd.com/Celestialentity/">LetterBoxd</a>
</details>

	<main>
	{{ content | safe }}
	</main>
<hr>
	<footer>
<div class="navigation-homepage">
  <ul>
<li> <a href="/sample"> Sample Page </a> </li>
 </ul>
</div>
</footer>
</body>
</html>
