body {
  font-family: system-ui;
  background-color: #000;
}

a {
  color: #fff;
}

#statuscafe {
    padding: .5em;
    background-color: #000;
    border: 1px solid #fff;
}
#statuscafe-username {
    margin-bottom: .5em;
}
#statuscafe-content {
    margin: 0 1em 0.5em 1em;
}
