body {
  font-family: serif;
  background-color: #080c0c;
  color: #d9ffdb;
  max-width: 900px;
  margin: auto;
  padding: 0.4 2 5%;
}
a {
  color: #357670;
  text-decoration: none;
}
#statuscafe {
  padding: .5em;
  background-color: #000;
  border: 1px solid #357670;
}
#statuscafe-username {
  margin-bottom: .5em;
}
#statuscafe-content {
  margin: 0 1em 0.5em 1em;
}

hr.style2 {
  border-top: 3px double #8c8b8b;
}
nav {
  font-weight:bold;
  display:inline
}
/* Optional styling */
summary::-webkit-details-marker {
  color: #357670 ;
}
summary:focus {
  outline-style: none;
}
