body {
  font-family: serif;
  background-color: #080c0c;
  color: #d9ffdb;
  max-width: 900px;
  margin: auto;
  padding:2 5%
}

a {
  color: #357670;
}

#statuscafe {
    padding: .5em;
    background-color: #000;
    border: 1px solid #357670;
}
#statuscafe-username {
    margin-bottom: .5em;
}
#statuscafe-content {
    margin: 0 1em 0.5em 1em;
}
