<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>{{ title }}</title>
</head>
<body>
  <h1>{{ title }}</h1>
<div id="mySidepanel" class="sidepanel">
<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a href="/" style="text-decoration: none"> Home </a> <br>
    <a href="/notes/" style="text-decoration: none"> Notes </a> <br> 
    <a href="https://garud-mb.netlify.app/" style="text-decoration: none"> Microblog </a> <br> 
    <a href="/bookmarks/" style="text-decoration: none"> Bookmarks </a> <br> 
    <a href="/wiki.html" style="text-decoration: none"> Wiki </a> <br> 
    <a href="/about/" style="text-decoration: none"> About </a> <br>
    <a href="/extra/" style="text-decoration: none"> Extra </a> <br> 
</div>
<button class="openbtn" onclick="openNav()">☰</button>
  
  <div>
    {{ content | safe }}
  </div>
  <hr>
<script>
function openNav() {
document.getElementById("mySidepanel").style.width = "244px";
}
function closeNav() {
document.getElementById("mySidepanel").style.width = "0";
}
</script>
</body>
</html>
