---
layout: base.njk
title: Celestial Entity 
---
<strong>This site is in development.</strong>
<h1>Online Presence</h1>
<div id="statuscafe"><div id="statuscafe-username"></div><div id="statuscafe-content"></div></div><script src="https://status.cafe/current-status.js?name=celestialentity" defer></script><br>
<p>Code Repositories: <a href="https://github.com/stardoom4">CelestialEntity@GitHub</a></p>
<p>Status.Cafe: <a href="https://status.cafe/users/celestialentity">CelestialEntity@Status.Cafe</a></p>
<hr>
<strong>Current version: 1.0</strong> / 
<a href="https://ce40-seo.netlify.app">Stats of this site</a> /
<a href="/sample">Sample Pgae</a>
