---
layout: base.njk
permalink: /sample/
title: Sample
---
<script src="https://cdn.jsdelivr.net/npm/@simondmc/popup-js@1.4.2/popup.min.js"></script>
<div class="card">

<p>
 <a href="https://nasa.gov">Nasa</a>

Lorem ipsum dolor <a href="https://netlify.com">sit amet, consectetur adipiscing elit</a>. Fusce egestas vel dui eu egestas. Integer ante libero, fringilla at varius ut, malesuada ut lorem. Quisque a arcu sit amet arcu malesuada suscipit id sed velit. Donec vel pulvinar ex, et varius lacus. Donec ultrices quam in euismod feugiat. Duis commodo massa sed sem mollis, eget dapibus augue aliquet. Suspendisse porttitor enim finibus lorem semper, egestas molestie mi scelerisque. Donec interdum purus vel ex ultricies gravida. Ut venenatis feugiat magna, ac viverra tellus efficitur et.

Fusce fermentum metus eu quam vestibulum, sit amet mattis justo feugiat. In congue hendrerit lorem, non eleifend urna ultricies a. Maecenas dictum eget diam quis efficitur. Integer sit amet dapibus lorem. Fusce nec massa urna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur urna vitae nisl euismod, id convallis diam lobortis. Proin sed mollis dolor, sed facilisis turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis ut volutpat ligula. Proin lacinia vestibulum ex vel dignissim. Vestibulum eget laoreet ante. Vivamus consectetur ultricies urna quis blandit. Fusce a elit tempor, gravida ante sed, interdum enim.

Nunc justo magna, bibendum et velit eget, porta euismod purus. Quisque vestibulum interdum risus laoreet aliquet. Vivamus rutrum suscipit est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Ut sit amet porta lacus. Donec pharetra massa dignissim turpis dapibus iaculis. Phasellus viverra ultrices purus eu tempor. Curabitur posuere mi nibh, vitae ultricies lorem pharetra ut. Nulla ut est quis augue consectetur varius eu et eros. Ut varius purus ipsum, ac viverra tortor egestas quis. Integer viverra tempor orci. Duis sollicitudin velit sit amet mi mollis, quis tincidunt dolor ultricies. In lacus orci, accumsan quis efficitur ac, pulvinar sed est. Sed tincidunt tempor ultrices. 
</p>
{%- for post in collections.micro %}
<li>
		<a href="{{post.url}}">{{ post.data.title }}</a>
		<p>{{ post.templateContent | striptags(true) | truncate(1000) | safe }}</p>
</li>
{% endfor %}
</ul>

</div>
<style>
.card {
  width: 100%;
  height: 100%;
  background-color: #121212;
  border-radius: 8px;
}
p {
  padding: 10px;
}
</style>
